@model DemoAuthentication.Models.TamTruModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TTTV__TamTru</legend>

   <b> <div class="display-label">TTTV__Type</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

   <b> <div class="display-label">TTTV__Status</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrangThai)
    </div>

    <b><div class="display-label">TTTV__GiayTo</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiayTo)
    </div>

    <b><div class="display-label">TTTV__LiDo</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.LiDo)
    </div>

    <b><div class="display-label">TTTV__QuocTich</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuocTich)
    </div>

    <b><div class="display-label">TT_FullName</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TT_FullName)
    </div>

    <b><div class="display-label">TT_DiaChiThuongTru</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TT_DiaChiThuongTru)
    </div>

    <b><div class="display-label">TT_NgayDen</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TT_NgayDen)
    </div>

    <b><div class="display-label">TT_NgayDi</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TT_NgayDi)
    </div>

    <b><div class="display-label">TT_DiaChiTamTru</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TT_DiaChiTamTru)
    </div>

    <b><div class="display-label">TT_Room</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TT_Room)
    </div>

    <b><div class="display-label">TT_GiayTo</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TT_GiayTo)
    </div>



    <b><div class="display-label">TT_LiDoKhac</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.TT_LiDoKhac)
    </div>

    <b><div class="display-label">Province</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tinh)
    </div>

    <b><div class="display-label">District</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quan)
    </div>

    <b><div class="display-label">DetailProvince</div></b>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phuong)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=Model.MaTamTru}) |
    @Html.ActionLink("Back to List", "Index")
</p>
