@model IList<DemoAuthentication.Models.TamTruModel>
@{
    ViewBag.Title = "Lịch Sử Đăng Ký";
}


<table class="divgrid" id="list">
    <tr>
        <th>
           Type
        </th>
        <th>
            Status
        </th>
        <th>
            GiayTo
        </th>
        <th>
            LiDo
        </th>
      
        <th>
            FullName
        </th>
      
        <th>
            NgayDen
        </th>
        <th>
           NgayDi
        </th>
        <th>
           DiaChiTamTru
        </th>
        
        <th>
            GiayTo
        </th>
        <th>
            Users
        </th>
       
      
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiayTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LiDo)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.TT_FullName)
        </td>
        
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.TT_NgayDen)
        </td>
        <td>
              @String.Format("{0:dd/MM/yyyy}", item.TT_NgayDi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TT_DiaChiTamTru)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.TT_GiayTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
       
      
       
    </tr>
}